
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">Opciones
  	<span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a tabindex="-1" ng-click="consultarPersonas()">Mostrar personas</a></li>
    <li class="dropdown-submenu">
	    <a tabindex="-1" >More options</a>
	    <ul class="dropdown-menu">
	         <li><a tabindex="-1">Submenu Test</a></li>
	    </ul>
	</li>
    <li><a tabindex="-1" ng-click="logout()">Cerrar sesión</a></li>
  </ul>
</div>
<div class="row-fluid">
	<div class="span4">
		<form class="navbar-search pull-left">
		  <input type="text" class="search-query" ng-model="search" placeholder="Buscar">
		</form>
	</div>
</div>

<div  class="row-fluid" border="1">
	<div class="row-fluid" style="display: block;border:1px solid black;" ng-repeat="persona in personas | orderBy:'nombre' | filter:search">
		<div class="span4">
			<input ng-model="persona.nombre"/>
			<input ng-model="persona.apellido"/>	
		</div>
		<div class="span4" style="border-left:1px solid black; border-right:1px solid black;">
			<div>
				<div style="display: block;" ng-repeat="mascota in persona.mascotas">
					<mascota nombre="mascota.nombre" click="eliminarMascota(mascota.id)"></mascota>					
				</div>
				<div>
					<div><input type="text" ng-model="persona.nuevaMascota" placeholder="Nueva mascota" /></div>
				</div>
			</div>
		</div>
		<div class="span4">
			<input value="Guardar Cambios" type="button" ng-click="editarPersona(persona)"/>
			<input value="Eliminar" type="button" ng-click="eliminarPersona(persona.id)"/>
		</div>
	</div>
	<div class="row-fluid">
		<div><input ng-model="nombre"/></div>
		<div><input ng-model="apellido"/></div>
		<div><input value="Crear" type="button" ng-click="crearPersona(nombre,apellido)"/></div>
	</div>
</div>